Whatsapp/Typing Effect Template/Typing_Effect.json
{
    "nodes": [
      {
        "parameters": {
          "method": "POST",
          "url": "=https://graph.facebook.com/v22.0/{{ $json.metadata.phone_number_id }}/messages ",
          "authentication": "predefinedCredentialType",
          "nodeCredentialType": "whatsAppApi",
          "sendHeaders": true,
          "headerParameters": {
            "parameters": [
              {
                "name": "Content-type",
                "value": "application/json"
              },
              {
                "name": "Authorization",
                "value": "{Your Meta Access Token}"
              }
            ]
          },
          "sendBody": true,
          "specifyBody": "json",
          "jsonBody": "={\n  \"messaging_product\": \"whatsapp\",\n  \"status\": \"read\",\n  \"message_id\": \"{{ $('Chat Received').item.json.messages[0].id }}\",\n  \"typing_indicator\": {\n    \"type\": \"text\"\n  }\n}\n",
          "options": {}
        },
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.2,
        "position": [
          -2940,
          320
        ],
        "id": "1543ac24-a383-4eb0-96bc-683fa298c993",
        "name": "Typing...",
        "credentials": {
          "whatsAppApi": {
            "id": "iWRw78GHeGAGPUL4",
            "name": "WhatsApp account"
          }
        }
      },
      {
        "parameters": {
          "content": "## WAIT MESSAGE",
          "height": 240
        },
        "type": "n8n-nodes-base.stickyNote",
        "typeVersion": 1,
        "position": [
          -3230,
          260
        ],
        "id": "f6658e44-7295-4b2f-b6ae-68e40b1c3e1a",
        "name": "Sticky Note"
      },
      {
        "parameters": {
          "updates": [
            "messages"
          ],
          "options": {
            "messageStatusUpdates": []
          }
        },
        "type": "n8n-nodes-base.whatsAppTrigger",
        "typeVersion": 1,
        "position": [
          -3180,
          320
        ],
        "id": "4153d252-74fd-4bf8-a367-122a13860841",
        "name": "Chat Received",
        "webhookId": "ee97c321-89cf-4e99-8552-356abf304948",
        "credentials": {
          "whatsAppTriggerApi": {
            "id": "M0kJWeVQdTdUKF76",
            "name": "WhatsApp OAuth account"
          }
        }
      },
      {
        "parameters": {
          "content": "## TYPING",
          "height": 240,
          "color": 3
        },
        "type": "n8n-nodes-base.stickyNote",
        "typeVersion": 1,
        "position": [
          -3010,
          260
        ],
        "id": "c44c2e74-4626-4cae-9062-e261b25fcf33",
        "name": "Sticky Note1"
      },
      {
        "parameters": {
          "content": "## SEND MESSAGE",
          "height": 240,
          "color": 4
        },
        "type": "n8n-nodes-base.stickyNote",
        "typeVersion": 1,
        "position": [
          -2460,
          260
        ],
        "id": "b57a4d6c-5288-43b6-84ca-ec5154d68466",
        "name": "Sticky Note2"
      },
      {
        "parameters": {},
        "type": "n8n-nodes-base.wait",
        "typeVersion": 1.1,
        "position": [
          -2680,
          320
        ],
        "id": "305cbf5b-073d-4634-a699-7e88f99dcfd8",
        "name": "SIMULATION (Wait 5s)",
        "webhookId": "fc764e57-2100-463c-8702-5037591c1730"
      },
      {
        "parameters": {
          "operation": "send",
          "phoneNumberId": "684831801379813",
          "recipientPhoneNumber": "={{ $('Chat Received').item.json.contacts[0].wa_id }}",
          "textBody": "Hi Reddit!  u/SaikoToyogun",
          "additionalFields": {}
        },
        "type": "n8n-nodes-base.whatsApp",
        "typeVersion": 1,
        "position": [
          -2400,
          320
        ],
        "id": "98bb994a-bbe5-4565-89a8-843f4188b34f",
        "name": "Send Message",
        "webhookId": "29a2b6cd-384c-4114-8ce7-cd6e50dcbbd4",
        "credentials": {
          "whatsAppApi": {
            "id": "iWRw78GHeGAGPUL4",
            "name": "WhatsApp account"
          }
        }
      },
      {
        "parameters": {
          "content": "# 👾 DISCORD CHANNEL \n\n## Join the conversation, share your workflows, and get real support from other automation builders.(pls no Spaghetti nodes) \n\n## 👉 [Join the Community here](https://discord.gg/ZvMuCKDe)\n",
          "height": 260,
          "width": 1040,
          "color": 5
        },
        "type": "n8n-nodes-base.stickyNote",
        "typeVersion": 1,
        "position": [
          -3240,
          -20
        ],
        "id": "6adfdc91-c6af-427f-bd5b-fc43152b3172",
        "name": "Sticky Note3"
      }
    ],
    "connections": {
      "Typing...": {
        "main": [
          [
            {
              "node": "SIMULATION (Wait 5s)",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Chat Received": {
        "main": [
          [
            {
              "node": "Typing...",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "SIMULATION (Wait 5s)": {
        "main": [
          [
            {
              "node": "Send Message",
              "type": "main",
              "index": 0
            }
          ]
        ]
      }
    },
    "pinData": {},
    "meta": {
      "templateCredsSetupCompleted": true,
      "instanceId": "70e154ff71bb573464cd3c518eda69ab177cc3b4f9d6862d572e35d42bf5425f"
    }
  }