Whatsapp/Avoid Spam Template/Avoid_Whatsapp_Spam.json
{
    "nodes": [
      {
        "parameters": {
          "updates": [
            "messages"
          ],
          "options": {
            "messageStatusUpdates": []
          }
        },
        "type": "n8n-nodes-base.whatsAppTrigger",
        "typeVersion": 1,
        "position": [
          -1180,
          180
        ],
        "id": "c96cfcd5-255f-4ef7-81bb-5206048c6015",
        "name": "Chat Received",
        "webhookId": "ee97c321-89cf-4e99-8552-356abf304948",
        "credentials": {
          "whatsAppTriggerApi": {
            "id": "M0kJWeVQdTdUKF76",
            "name": "WhatsApp OAuth account"
          }
        }
      },
      {
        "parameters": {
          "operation": "incr",
          "key": "={{ $json.uid }}",
          "expire": true,
          "ttl": "={{ +$json.duration_in_seconds }}"
        },
        "type": "n8n-nodes-base.redis",
        "typeVersion": 1,
        "position": [
          -740,
          180
        ],
        "id": "978b1cf1-6667-4d76-b5b2-d8e6da6695d4",
        "name": "Redis count user messages",
        "notesInFlow": false,
        "alwaysOutputData": false,
        "executeOnce": false,
        "retryOnFail": true,
        "credentials": {
          "redis": {
            "id": "0MbFrG5YZ93T9yl8",
            "name": "Redis account"
          }
        },
        "onError": "continueErrorOutput"
      },
      {
        "parameters": {
          "errorMessage": "CHICA - SUBWORKFLOW - Seguimiento pedidos"
        },
        "type": "n8n-nodes-base.stopAndError",
        "typeVersion": 1,
        "position": [
          -520,
          280
        ],
        "id": "0448e9e1-5748-4909-b8f8-a8c7fe56c77b",
        "name": "Stop and Error1"
      },
      {
        "parameters": {
          "mode": "raw",
          "jsonOutput": "={\n  \"uid\": \"{{ $('Chat Received').item.json.messages[0].from }}\",\n  \"duration_in_seconds\": \"60\",\n  \"message_limit_per_duration\": \"15\",\n  \"error_message\": \"⚠️ To much many message in 1 minute MAX 15\"\n}",
          "options": {}
        },
        "type": "n8n-nodes-base.set",
        "typeVersion": 3.4,
        "position": [
          -960,
          180
        ],
        "id": "e4340b6e-d0f5-4eae-b8f8-f207e981a399",
        "name": "Time Control"
      },
      {
        "parameters": {
          "operation": "send",
          "phoneNumberId": "684831801379813",
          "textBody": "your message here",
          "additionalFields": {}
        },
        "type": "n8n-nodes-base.whatsApp",
        "typeVersion": 1,
        "position": [
          -240,
          260
        ],
        "id": "857eb4b2-f4a8-41d4-8498-255fb062f9f1",
        "name": "Send ERROR! To much messages",
        "webhookId": "73cd3341-7b84-469f-9bad-6bc73c2a0b58",
        "credentials": {
          "whatsAppApi": {
            "id": "iWRw78GHeGAGPUL4",
            "name": "WhatsApp account"
          }
        }
      },
      {
        "parameters": {
          "conditions": {
            "options": {
              "caseSensitive": true,
              "leftValue": "",
              "typeValidation": "strict",
              "version": 2
            },
            "conditions": [
              {
                "id": "b6a02f28-3d00-460d-9d27-ee44f70d917f",
                "leftValue": "={{ $json[$('Chat Received').item.json.messages[0].from] }}",
                "rightValue": "={{ +$('Time Control').item.json.message_limit_per_duration }}",
                "operator": {
                  "type": "number",
                  "operation": "lte"
                }
              }
            ],
            "combinator": "and"
          },
          "options": {}
        },
        "type": "n8n-nodes-base.if",
        "typeVersion": 2.2,
        "position": [
          -520,
          120
        ],
        "id": "dc0514a4-9e9d-468f-8081-cc6e88882937",
        "name": "Normal time message ?",
        "onError": "continueRegularOutput"
      },
      {
        "parameters": {
          "content": "# 👾 DISCORD CHANNEL \n\n## Join the conversation, share your workflows, and get real support from other automation builders.(pls no Spaghetti nodes) \n\n## 👉 [Join the Community here](https://discord.gg/Z48HxJhwKR)\n",
          "height": 260,
          "width": 1040,
          "color": 5
        },
        "type": "n8n-nodes-base.stickyNote",
        "typeVersion": 1,
        "position": [
          -1060,
          -220
        ],
        "id": "a7c9ad84-4d27-4380-831c-19706f3c73fd",
        "name": "Sticky Note3"
      },
      {
        "parameters": {
          "content": "## WAIT MESSAGE",
          "height": 240
        },
        "type": "n8n-nodes-base.stickyNote",
        "typeVersion": 1,
        "position": [
          -1240,
          100
        ],
        "id": "23e3336c-a5e1-493f-beea-4d27188df07f",
        "name": "Sticky Note"
      },
      {
        "parameters": {
          "content": "## AVOID SPAM",
          "height": 380,
          "width": 880,
          "color": 3
        },
        "type": "n8n-nodes-base.stickyNote",
        "typeVersion": 1,
        "position": [
          -980,
          60
        ],
        "id": "b5a84085-d2de-492d-ade4-0b9cd48110bf",
        "name": "Sticky Note1"
      },
      {
        "parameters": {
          "content": "## \"ALL YOUR LOGIC HERE \"\n",
          "height": 200,
          "width": 400,
          "color": 4
        },
        "type": "n8n-nodes-base.stickyNote",
        "typeVersion": 1,
        "position": [
          -60,
          60
        ],
        "id": "c3956f62-ee36-45c7-a388-0d21e190295b",
        "name": "Sticky Note2"
      },
      {
        "parameters": {},
        "type": "n8n-nodes-base.noOp",
        "typeVersion": 1,
        "position": [
          80,
          100
        ],
        "id": "3d960437-154c-4bf9-9669-e84022fb9e3a",
        "name": "No Operation, do nothing"
      }
    ],
    "connections": {
      "Chat Received": {
        "main": [
          [
            {
              "node": "Time Control",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Redis count user messages": {
        "main": [
          [
            {
              "node": "Normal time message ?",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "Stop and Error1",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Time Control": {
        "main": [
          [
            {
              "node": "Redis count user messages",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Normal time message ?": {
        "main": [
          [
            {
              "node": "No Operation, do nothing",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "Send ERROR! To much messages",
              "type": "main",
              "index": 0
            }
          ]
        ]
      }
    },
    "pinData": {},
    "meta": {
      "templateCredsSetupCompleted": true,
      "instanceId": "70e154ff71bb573464cd3c518eda69ab177cc3b4f9d6862d572e35d42bf5425f"
    }
  }